[submodule "ThirdPartySuppliers/spdlog"]
	path = ThirdPartySuppliers/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ThirdPartySuppliers/glfw"]
	path = ThirdPartySuppliers/glfw
	url = https://github.com/glfw/glfw
[submodule "ThirdPartySuppliers/imgui"]
	path = ThirdPartySuppliers/imgui
	url = https://github.com/ocornut/imgui
